body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.info {
    color: white;
    margin: 0.5rem 0;
    font-size: 3rem;
    margin-bottom: 40px;
    gap: 10px;
}

.text_block {
    color: white;
    margin-top: 75px;
    margin-left: 0;
    padding: 20px;
    text-align: left;
    line-height: 2.5;
    font-size: 1.8rem;
}