/* Reset margin and padding for all elements */
* {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

/* Container styling for flex layout */
.container{
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content:center; /* Space between flex items */
  gap: 10px;
}

/* Styling for tagline text */
.tagline{
  color: white; /* Set text color to white */
  margin: 0 10px; /* Add horizontal margin */
  white-space: nowrap; /* Prevent line breaks */
  font-size: 2rem; /* Set font size to 2rem */
  display: inline-block; /* Display as an inline-block element */
  font-weight: bold; /* Makes tagline bold */
}

/* Styling for handcuff image */
.handcuff{
  width: 50px; /* Set width of the handcuff image */
  height: auto; /* Maintain aspect ratio */
}

/* Styling for open handcuff image */
 .open_handcuff{
  width: 100px; /* Set width of the open handcuff image */
  height: auto; /* Maintain aspect ratio */
}

/* Navbar container styling */
.navbar {
  display: flex; /* Enable flexbox for navbar */
  justify-content: space-between; /* Space items evenly */
  padding: 10px 16px; /* Add padding inside navbar */
  margin-bottom: 16px; /* Spacing below the navbar */
  text-align: center; /* Center text inside navbar */
  margin-right: 250px; /* Add right margin */
}

/* Navbar menu styling */
.navbar-menu {
  display: flex; /* Enable flexbox layout for navbar */
  list-style-type: none; /* Remove bullet points from list  */
  gap: 100px; /* Space between menu items */
  margin: 0; /* Remove default margin */
  align-items: center; /* Center items vertically */
}

/* Styling for navbar links */
.navbar-menu li a {
  text-decoration: none; /* Remove underline from links */
  color: white; /* Set text color to white */
}

/* Set box-sizing to border-box for all elements */
* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Styling for the body and html elements */
body,
html {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  /* Set gradient background */
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(17, 146, 209, 1) 80%, rgba(255, 255, 255, 1) 100%);
  height: 100vh; /* Set height to 100 percent of the viewport */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-attachment: fixed; /* Fix background image during scrolling */
}

/* Styling for main-title */
.main-title {
  text-align: center; /* Center text */
  color: white; /* Set text to white */
  font-size: 4rem; /* Set font size to 4 rem */
  margin: 0; /* Remove margin */
  padding: 20px 0; /* Add vertical padding */
}

/* Styling for information boxes */
.info-box {
  padding: 20px; /* Add padding inside the info box */
  border-radius: 10px; /* Round corners of the box */
  margin-top: 20px; /* Add top margin */
}

/* Styling for pargraphs inside info boxes */
.info-box p {
  color: white; /* Set text color to white */
  margin: 0.5rem 0; /* Add vertical margin */
  font-size: 2rem; /* Set font size to 2rem */
  margin-bottom: 40px; /* Add bottom margin */
}

/* Styling for footer */
.footer{
  color: black; /* Set text color to black */
  display: flex; /* Enable flexbox layout for the footer */
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Center items vertically */
  position: fixed; /* Fix footer at the bottom */
  font-size: 1.2rem; /* Set font size to 1.2rem */
  bottom: 0; /* Position at the bottom of the viewport */
  right: 0; /* Position to the right */
}

/* Footer menu styling */
.footer-menu {
  list-style-type: none; /* Remove bullet points */
  gap: 100px; /* Space between footer menu items */
}

/* Styling for list items in the footer menu */
.footer-menu li{
  display: inline; /* Display list items inline */
  margin: 0 15px; /* Add horizontal margin */
}

/* Styling for links in the footer menu */
.footer-menu li a {
  text-decoration: none; /* Remove underline */
  color: black; /* Set text to black */
  font-weight: bold; /* Make text bold */
}